@import "./_var.conf.scss";

h1, h2, h3, h4, h5, .title {
    color: #fff;
    display: block;
    font-size: 26px;
}

.title {
    font-size: $font-size-big;
}

p {
    line-height: $font-line_height-base;
}

strong {
    font-weight: 700;
}

small {
    font-size: $font-size-small;
    color: #a1a1a1;
}