h1, h2, h3, h4, h5, .title {
    color: #fff;
    display: block;
    font-size: 26px;
}

.title {
    font-size: 22px;
}

p {
    line-height: 1.5em;
}


strong {
    font-weight: 700;
}

small {
    font-size: 12px;
    color: #a1a1a1;
}