// :import:
@import "../../../css/_var.conf.scss";

#room {

    $aside-size: 385;

    @import "./nav.conf.scss";

    background-color: #272c30;

    @import "./display.rooms.conf.scss";

    #main {
        header {
            position: relative;
            margin-bottom: 0;
            .buttons {
                position: absolute;
                top: 0;
                right: 20px;
            }
        }
    }

    #content {
        width: calc(100% - #{$aside-size}px);
        float: left;
        margin-top: 0;
    }

    #content {
        header {
            .icon {
                position: absolute;
                top: 0;
                right: -40px;
            }
        }
    }

    #loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #333;
        z-index: 1;
        svg {
            position: absolute;
            top: calc(50% - ((120px / 2) / 2));
            left: calc(50% - ((120px / 2) / 2));
        }
    }

    #videos {
        width: 60%;
        position: relative;
        margin-top: 0;
        video {
            float: left;
        }
    }
}