// :import:
@import "../../../css/mixins.conf.scss";

#room {

    @import "./nav.conf.scss";

    background-color: #272c30;

    #loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #333;
        svg {
            position: absolute;
            top: calc(50% - ((120px / 2) / 2));
            left: calc(50% - ((120px / 2) / 2));
        }
    }

    #videos {
        width: 70%;
        position: relative;
        video {
            width: 100%;
        }
        #video {
            -webkit-filter: sepia();
            width: 200px;
            position: absolute;
            bottom: 20px;
            right: 20px;
            border: 3px solid #4bbce8;
        }
    }
}