nav {
    padding-left: $aside-size + px;
}

.button._on {
    background-image: url(svg('camera'));
    background-repeat: no-repeat;
    background-position: center;
    padding: 11px 48px;
}
.button._off {
    background-image: url(svg('phone-hang-up'));
    background-repeat: no-repeat;
    background-position: center;
    padding: 11px 48px;
}